 <article class="card mb-3">
    <div class="card-title bg-secondary d-flex justify-content-between text-light p-2 rounded align-items-center">
            <a href="/post/{{id}}" class="single-post-link text-light text-decoration-none">
                <h2>{{title}}</h2>
            </a>
            <span class="text-center">Posted by {{user.username}} on {{format_date created_at}}</span>
      </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</article>